- assets = controller_name
- asset = assets.singularize

= styles_for asset

.title_tools
  = link_to_inline(:"create_#{asset}", url_for(:action => :new), :text=> t(:"create_#{asset}")) << " | "
  = link_to_inline(:options, url_for(:action => :options), :text=> t(:options))

.title
  %span{ :id => "create_#{asset}_title" }= t(assets)
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#options{ hidden }

.remote{ hidden.merge(:id => "create_#{asset}") }

.list{ :id => assets }
  - if @assets.any?
    = render @assets
  - else
    = render "shared/empty"

#paginate= render "shared/paginate"
#export= raw links_to_export
