!!!5
%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Fat Free CRM
    == <!-- #{controller.controller_name} : #{controller.action_name} -->
    = stylesheet_link_tag 'fat_free_crm/application'
    = stylesheet_link_tag 'fat_free_crm/print', :media => 'print'
    = hook(:stylesheet_includes, self) do
      #{yield :stylesheet_includes}
    %style= yield :styles

    = javascript_include_tag 'fat_free_crm/application'

    - unless tabless_layout? || %w(en-US en-GB).include?(I18n.locale.to_s)
      = javascript_include_tag "jquery_ui_datepicker/jquery.ui.datepicker-#{I18n.locale}"
      = javascript_include_tag "jquery_ui_datepicker/jquery-ui-timepicker-#{I18n.locale}"

    = csrf_meta_tag
    = hook(:javascript_includes, self)

    :javascript
      #{yield :javascript}
      var _ffcrm_users = [
      #{FatFreeCrm::User.all.map{|u| "\"#{u.full_name} (@#{u.username})\"" }.join(",\n")}
      ];

      window.controller = "#{controller.controller_name}"

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

  %body
    = render "layouts/fat_free_crm/header"
    - if tabless_layout?
      = render "layouts/fat_free_crm/tabless"
    - else
      = render "layouts/fat_free_crm/tabbed"
      = render "layouts/fat_free_crm/footer"

    %script{:type => "text/javascript"}
      = "crm.base_url = '#{FatFreeCrm::Setting.base_url}';" unless FatFreeCrm::Setting.base_url.blank?
      = get_browser_timezone_offset
      = content_for :javascript_epilogue
      = hook(:javascript_epilogue, self)
