.panel#summary
  %span{:style => "float:right"}= gravatar_for(@asset, :size => "50x50")
  %h4= h(@asset.full_name)
  - if !@asset.title.blank? && !@asset.company.blank?
    -# works_at: "{{job_title}} at {{company}}"
    %div= t(:works_at, :job_title => @asset.title, :company => @asset.company)
  - else
    %div= @asset.title unless @asset.title.blank?
    %div= @asset.company unless @asset.company.blank?

  %div= render "shared/address_show", :asset => @asset, :type => 'business', :title => :address

  %div
    - if @asset.phone.present?
      == #{t :phone}: <b>#{@asset.do_not_call ? content_tag(:strike, @asset.phone) : @asset.phone}</b><br />
    - if @asset.mobile.present?
      == #{t :mobile}: <b>#{@asset.do_not_call ? content_tag(:strike, @asset.mobile) : @asset.mobile}</b><br />
    - if @asset.email.present?
      == #{t :email}: <b>#{link_to_email(@asset.email)}</b><br />
    - if @asset.alt_email.present?
      == #{t :other}: <b>#{link_to_email(@asset.alt_email)}</b><br />
  = web_presence_icons(@asset)

  .caption #{t :lead_summary}
  %li
    %dt= t(@asset.status, :default => :n_a)
    %tt #{t :status}:
  %li
    %dt= t(@asset.source, :default => :n_a)
    %tt #{t :source}:
  %li
    %span{:style => "float:right;"}= stars_for(@asset)
    %tt #{t :rating}:
  %li
    %dt= @asset.referred_by ? truncate(@asset.referred_by, :length => 16) : t(:n_a)
    %tt #{t :referred_by}:
  %li
    %dt= truncate((@asset.assigned_to ? @asset.assignee.full_name : @asset.user.full_name), :length => 16)
    %tt #{t :assigned_to}:
  %li.last
    %dt
      - if @asset.campaign
        = link_to(truncate(@asset.campaign.name, :length => 16), @asset.campaign, :title => @asset.campaign.name)
      - else
        #{t :n_a}
    %tt #{t :campaign}:

  - unless @asset.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format @asset.background_info).html_safe

  = render "fields/sidebar_show", :asset => @asset
  
  - if @asset.tag_list.present?
    %dt
      .tags= tags_for_index(@asset)

  = hook(:show_lead_sidebar_bottom, self, :lead => @asset)
