= styles_for :task

#confirm{ hidden }
.title_tools#menu
  - unless %w(converted rejected).include?(@asset.status)
    = link_to_inline(:convert_lead, convert_lead_path(@asset), :text => t(:convert)) + " | "
  = link_to_inline(:edit_lead, edit_lead_path(@asset), :text => t(:edit)) + " | "
  - if @asset.status != "rejected"
    = link_to_function(t(:reject) + '?', confirm_reject(@asset)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@asset))
.title#title= h(@asset.full_name)

%div#convert_lead{ hidden }
%div#edit_lead{ hidden }

= render "comments/new", :commentable => @asset
= render :partial => "shared/timeline", :collection => @timeline

= section(@asset, :tasks)
.log#tasks
  = render "shared/tasks"

= load_select_popups_for(@asset, :tasks)

= hook(:show_lead_bottom, self)
