.panel#summary
  .caption #{t :opportunity_summary}
  %li
    %dt= @asset.stage ? t(@asset.stage) : t(:other)
    %tt #{t :stage}:
  %li
    %dt= @asset.closes_on ? l(@asset.closes_on, :format => :mmdd) : t(:n_a)
    %tt #{t :close_date}:
  - if @asset.closes_on && @asset.stage !~ /lost|won/
    %li
      - days_left = @asset.closes_on - Date.today
      - if days_left >= 0
        %dt= days_left
        %tt #{t :days_left}:
      - else
        %dt.warn= t('pluralize.day', :count => (days_left * -1))
        %tt #{t :days_late}:
  %li
    %dt= @asset.probability ? @asset.probability.to_s + "%" : t(:n_a)
    %tt #{t :probability}:
  %li
    %dt= @asset.amount ? number_to_currency(@asset.amount || 0, :precision => 0) : t(:n_a)
    %tt #{t :amount}:
  %li
    %dt= @asset.discount ? number_to_currency(@asset.discount || 0, :precision => 0) : t(:n_a)
    - if @asset.amount && @asset.discount
      %tt== Discount (#{number_to_percentage(@asset.discount / @asset.amount * 100, :precision => 1)}):
    - else
      %tt #{t :discount}:
  %li
    %dt= @asset.amount ? number_to_currency(@asset.weighted_amount || 0, :precision => 0) : t(:n_a)
    %tt #{t :weighted_amount}:
  %li
    %dt= truncate((@asset.assigned_to ? @asset.assignee.full_name : @asset.user.full_name), :length => 16)
    %tt #{t :assigned_to}:
  %li
    %dt
      - if @asset.account
        = link_to(truncate(@asset.account.name, :length => 16), @asset.account, :title => @asset.account.name)
      - else
        #{t :n_a}
    %tt #{t :account}:
  %li.last
    %dt
      - if @asset.campaign
        = link_to(truncate(@asset.campaign.name, :length => 16), @asset.campaign, :title => @asset.campaign.name)
      - else
        #{t :n_a}
    %tt #{t :campaign}:

  - unless @asset.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format @asset.background_info).html_safe

  = render "fields/sidebar_show", :asset => @asset
  
  - if @asset.tag_list.present?
    %dt
      .tags= tags_for_index(@asset)

  = hook(:show_opportunity_sidebar_bottom, self, :opportunity => @asset)
