= styles_for :task, :contact

#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_opportunity, edit_opportunity_path(@asset), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@asset))
.title#edit_opportunity_title= h(@asset.name)

%div#edit_opportunity{ hidden }

= render "comments/new", :commentable => @asset
= render :partial => "shared/timeline", :collection => @timeline

= hook(:show_opportunity_bottom, self) do

  = section(@asset, :tasks)
  .log#tasks
    = render "shared/tasks"

  = section(@asset, :contacts)
  .list#contacts
    - @contacts = @asset.contacts.paginate(:page => 1, :per_page => 20)
    = render :partial => "contacts/contact", :collection => @asset.contacts.paginate(:page => 1, :per_page => 20)
  = will_paginate @contacts, :id => true, :params => {:action => :contacts}

  = load_select_popups_for(@asset, :tasks, :contacts)

