.panel#summary
  .caption #{t :campaign_summary}
  %li
    %dt= @asset.starts_on ? l(@asset.starts_on, :format => :mmdd) : t(:n_a)
    %tt #{t :start_date}:
  %li
    %dt= @asset.ends_on ? l(@asset.ends_on, :format => :mmdd) : t(:n_a)
    %tt #{t :end_date}:
  %li
    %dt= @asset.status ? t(@asset.status) : t(:n_a)
    %tt #{t :status}:
  %li.last
    %dt= number_to_currency(@asset.budget, :precision => 0) || t(:n_a)
    %tt #{t :budget}:

  .caption #{t :campaign_targets}

  -# Target Leads.
  -#---------------------------------------------------------------------------
  %li
    %dt= @asset.target_leads || t(:n_a)
    %tt #{t :leads}:

  -# Target Conversion Ratio.
  -#---------------------------------------------------------------------------
  %li
    %dt= number_to_percentage(@asset.target_conversion, :precision => 1) || t(:n_a)
    %tt #{t :conversion}:

  -# Target Opportunities: calculated based on target number of leads and
  -# expected conversion ratio.
  -#---------------------------------------------------------------------------
  %li
    - if @asset.target_leads.to_i > 0 && @asset.target_conversion.to_i > 0
      - opportunities = @asset.target_leads * @asset.target_conversion / 100
      %dt= opportunities.to_i
    - else
      %dt N/A
    %tt #{t :opportunities}:

  -# Target Revenue.
  -#---------------------------------------------------------------------------
  %li.last
    %dt= number_to_currency(@asset.target_revenue, :precision => 0) || t(:n_a)
    %tt #{t :revenue}:

  .caption #{t :actual_performance}

  -# Actual Number of Leads.
  -#---------------------------------------------------------------------------
  %li
    %dt= @asset.leads_count || t(:n_a)
    %tt== #{t :leads}: #{performance(@asset.leads_count, @asset.target_leads)}

  -# Actual Conversion Ratio: calculated based on actual number of leads
  -# and opportunities.
  -#---------------------------------------------------------------------------
  %li
    - if @asset.opportunities_count.to_i > 0 && @asset.leads_count.to_i > 0
      - conversion = @asset.opportunities_count * 100 / @asset.leads_count
      %dt= number_to_percentage(conversion, :precision => 1)
      %tt== #{t :conversion}: #{performance(conversion, @asset.target_conversion)}
    - else
      %dt #{t :n_a}
      %tt #{t :conversion}:

  -# Actual Opportunities.
  -#---------------------------------------------------------------------------
  %li
    %dt= @asset.opportunities_count || t(:n_a)
    %tt
      #{t :opportunities}:
      = performance(@asset.opportunities_count, opportunities)

  -# Actual Revenue.
  -#---------------------------------------------------------------------------
  %li.last
    %dt= number_to_currency(@asset.revenue, :precision => 0) || t(:n_a)
    %tt== #{t :revenue}: #{performance(@asset.revenue, @asset.target_revenue)}

  - unless @asset.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format @asset.background_info).html_safe

  = render "fields/sidebar_show", :asset => @asset

  - if @asset.tag_list.present?
    %dt
      .tags= tags_for_index(@asset)

  = hook(:show_campaign_sidebar_bottom, self, :campaign => @asset)
