- won = @asset.opportunities.won.map(&:amount).compact.sum
- lost = @asset.opportunities.lost.map(&:amount).compact.sum
- pipeline = @asset.opportunities.pipeline.map(&:weighted_amount).compact.sum

.panel#summary
  %h4= h(@asset.name)
  - if @asset.website
    %div
      %b= link_to(truncate(@asset.website, :length => 30), @asset.website.to_url, :"data-popup" => true, :title => t(:open_in_window, @asset.website))
  - if @asset.email.present?
    %div
      %b= link_to_email(@asset.email, 30)

  %div
    - if @asset.toll_free_phone
      #{t :phone_toll_free}: <b>#{@asset.toll_free_phone}</b><br />

    - if @asset.phone
      #{t :phone}: <b>#{@asset.phone}</b><br />

    - if @asset.fax
      #{t :fax}: <b>#{@asset.fax}</b><br />

  %div= render "shared/address_show", :asset => @asset, :type => 'billing', :title => :billing_address
  %div= render "shared/address_show", :asset => @asset, :type => 'shipping', :title => :shipping_address

  .caption #{t :account_summary}
  %li
    %dt= pipeline != 0.0 ? number_to_currency(pipeline, :precision => 0) : t(:n_a)
    %tt #{t :pipeline}:
  %li
    %dt= won != 0.0 ? number_to_currency(won, :precision => 0) : t(:n_a)
    %tt #{t :won}:
  %li
    %dt= lost != 0.0 ? number_to_currency(lost, :precision => 0) : t(:n_a)
    %tt #{t :lost}:
  %li
    %dt= @asset.category ? t(@asset.category) : t(:other)
    %tt #{t :category}:
  %li
    %span{:style => "float:right;"}= stars_for(@asset)
    %tt #{t :rating}:
  %li.last
    %dt= truncate((@asset.assigned_to ? @asset.assignee.full_name : @asset.user.full_name), :length => 16)
    %tt #{t :assigned_to}:

  - unless @asset.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format @asset.background_info).html_safe

  = render "fields/sidebar_show", :asset => @asset

  - if @asset.tag_list.present?
    %dt
      .tags= tags_for_index(@asset)

  = hook(:show_account_sidebar_bottom, self, :account => @asset)
